*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color:#002776;
    height: 70px;
    margin-bottom: 15px;
    color: white;
    border-bottom: solid 3px #2196f3;
    
}
.container{
    display: flex;
    justify-content: center;
}
.header .brasil1{
    color: #009c3b;
}
.header .brasil2{
    color:#ffdf00;
}
.header h1{
    margin-top: 15px;
}
.graph{
    display: inline-block;
    height: 350px;
    width: 45%;
    margin: 10px;
    padding:5px;
}
